/* 
----------------------------------- 
COMMON RULES 
----------------------------------- 
*/

:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --dark-pink: #ff5d5d;
  --x-light-pink: #faf1ed;
  --dark-grey: #333333;
  --grey: #545454;
  --light-grey: #e0e0e0;
  --x-light-grey: #f2f2f2;
  --medium-green: #35e1a1;
  --dark-green: #04aa6c;

  /* Icons size */
  --lg-icon: 24px;
  --med-icon: 22px;
  --sm-icon: 20px;
  --xsm-icon: 15px;
  --xxsm-icon: 14px;

  /* Fonts */
  --trip-reg: "Trip Sans Reg", Arial, Helvetica, sans-serif;
  --trip-med: "Trip Sans Med", Arial, Helvetica, sans-serif;
  --trip-vf-original: "Trip Sans VF", var(--trip-med);
  --georgia: Georgia, "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--trip-med);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 20px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 54px;
  letter-spacing: 1.1px;
  line-height: 86.4px;
  margin: 20px 0 10px 0;
}

h1 > span {
  color: var(--dark-pink);
}

h1,
h2 {
  font-family: var(--trip-vf-original);
}

h2 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.6px;
  font-weight: bold;
  margin-bottom: 30px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  margin-bottom: 6px;
}

a {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
}

main {
  margin-top: 60px;
}

/* 
----------------------------------- 
HEADER
----------------------------------- 
*/

header {
  background-color: var(--white);
  height: 60px;
  font-family: var(--trip-reg);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.bordered {
  border-bottom: var(--light-grey) solid 1px;
}

header .container,
header nav,
header nav > div,
header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  justify-content: space-between;
  height: 100%;
}

header img {
  width: 190px;
}

header button {
  padding: 0 10px;
}

header nav > div {
  padding: 8px 10px;
  border-radius: 30px;
  margin-right: 10px;
}

header nav > div:hover {
  background-color: var(--x-light-grey);
  cursor: pointer;
}

header i {
  font-size: var(--lg-icon);
  margin-right: 4px;
}

header .container > i {
  display: none;
}

header button {
  color: var(--white);
  background-color: var(--black);
  outline: none;
  border: none;
  margin-left: 5px;
  font-size: inherit;
  width: 150px;
  font-family: var(--trip-med);
  height: 40px;
  border-radius: 20px;
}

header button:hover {
  background-color: rgb(0, 0, 0, 0.7);
  cursor: pointer;
}

/* 
----------------------------------- 
MAIN
----------------------------------- 
*/

/* ----- Navigation ----- */
.navigation {
  padding-bottom: 26px;
}

.navigation {
  display: flex;
}

.navigation > div {
  display: flex;
}

.navigation > div:nth-child(7) {
  display: none;
}

.navigation > div {
  justify-content: space-between;
  flex: 1;
  border: solid var(--black) 1px;
  padding: 12px 15px;
  border-radius: 14px;
}

.navigation > div:not(:last-child) {
  margin-right: 16px;
}

.navigation > div:hover {
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
}

.navigation > div span {
  max-width: 80px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation i {
  font-size: var(--lg-icon);
}

/* ----- Pictures ----- */
.pictures {
  height: 430px;
  display: flex;
}

.pictures img {
  object-fit: cover;
}

.pictures > .col-1 {
  position: relative;
  flex: 1;
  margin-right: 2px;
}

.pictures > .col-1 img {
  height: 100%;
  width: 100%;
}

.pictures > .col-2 {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.pictures > .col-2 img {
  height: calc(50% - 1px);
}

.pictures > .col-2 img:first-child {
  margin-bottom: 2px;
}

.pictures > .col-2 img:hover,
.pictures > .col-1 img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pictures > .col-1 div {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  padding: 8px;
  font-size: 12px;
  border-radius: 30px;
  color: white;
}

.pictures > .col-1 div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.pictures > .col-1 div i {
  margin-right: 5px;
  font-size: var(--xsm-icon);
}

/* ----- Menu ----- */
.menu {
  font-family: var(--trip-reg);
  font-size: 12px;
  line-height: 16px;
  margin: 20px 0 40px 0;
}

.menu,
.menu > div {
  display: flex;
  align-items: center;
}

.menu {
  justify-content: space-between;
}

.menu > div > div {
  cursor: pointer;
}

.menu i {
  margin: 0 5px;
}

.menu > div:last-child span:nth-child(2) {
  margin: 0 2px;
}

.menu > div:first-child span:hover,
.menu > div:first-child > div:hover {
  cursor: pointer;
  color: var(--grey);
}

.menu > div:first-child span:hover {
  text-decoration: underline;
}

/* ----- Description ----- */
.description {
  display: flex;
  margin-bottom: 80px;
}

.description .col-1 {
  width: 50%;
}

.description .col-1 p {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--georgia);
  margin-top: 12px;
  color: var(--dark-grey);
}

.description .col-2 {
  width: calc(50% - 120px);
  margin-left: 120px;
}

.description .col-2 div:first-child {
  padding: 32px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: var(--dark-pink);
}

.description .col-2 p {
  font-family: var(--trip-reg);
  margin-bottom: 24px;
}

.description .col-2 div:last-child {
  height: 190px;
  background-image: url(../img/image_trips_card_medium.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.description button {
  height: 54px;
  width: 154px;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background-color: var(--black);
  color: var(--white);
  border-radius: 14px;
}

.description button:hover {
  background-color: rgb(0, 0, 0, 0.7);
  cursor: pointer;
}

/* 
ALL SECTIONS
*/

section {
  margin-bottom: 120px;
}

/* 
SECTION 1
*/

.section-1 > div {
  display: flex;
  margin-bottom: 40px;
}

.section-1 .col-1 {
  flex: 1;
  padding-right: 30px;
}

.section-1 .col-2 {
  flex: 3;
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.section-1 .col-2::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.section-1 .col-1 p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 22px;
  margin: 20px 0;
}

.section-1 .col-1 a {
  font-size: 14px;
  line-height: 16px;
  font-family: var(--trip-reg);
  color: var(--grey);
}

/* Carrousel */
.section-1 .carrousel-col {
  width: calc(100% / 3 - (40px / 3));
  flex-shrink: 0;
  position: relative;
}

.section-1 .carrousel-col:hover {
  cursor: pointer;
}

.section-1 .carrousel-col:hover h5 {
  text-decoration: underline;
}

.section-1 .carrousel-col:hover img {
  opacity: 0.8;
}

.section-1 .carrousel-col:not(:last-child) {
  margin-right: 20px;
}

.section-1 .carrousel-col img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.section-1 .carrousel-col p,
.section-1 .carrousel-col span {
  color: var(--dark-grey);
  font-family: var(--trip-reg);
}

.section-1 .carrousel-col span {
  font-size: 12px;
  line-height: 14px;
  margin-left: 8px;
}

.section-1 .carrousel-col p {
  font-size: 14px;
  line-height: 16.8px;
}

.section-1 .carrousel-col .rating {
  display: flex;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.section-1 .carrousel-col .rating i {
  color: var(--dark-green);
  font-size: 14px;
}

.section-1 .circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
}

.section-1 .icon-heart {
  font-size: 24px;
}

.section-1 .circle:hover {
  background-color: var(--x-light-grey);
  cursor: pointer;
}

.section-1 .owl-2020 {
  background-color: var(--medium-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  position: absolute;
  top: 146px;
  left: 10px;
}

.section-1 .owl-2020 span {
  margin: 0;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: var(--trip-med);
}

.section-1 .owl-2020 img {
  width: 30px;
  height: 30px;
}

/* 
SECTION 2
*/

.section-2 .carrousel {
  display: flex;
  overflow: scroll;
}

.section-2 .carrousel::-webkit-scrollbar {
  display: none;
}
.section-2 .carrousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-2 .col {
  flex-shrink: 0;
  width: calc(100% / 3 - (40px / 3));
}

.section-2 .col:not(:last-child) {
  margin-right: 20px;
}

.section-2 .col > img {
  height: 270px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 6px;
}

.section-2 .col > p {
  font-family: var(--trip-reg);
  font-size: 14px;
  margin-bottom: 6px;
}

.section-2 .col > div {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.section-2 .col > div > img {
  height: 24px;
  margin-right: 6px;
  border-radius: 50%;
}

.section-2 .col > div span:nth-child(2) {
  font-family: var(--trip-reg);
}

/* 
----------------------------------- 
FOOTER 
----------------------------------- 
*/

footer {
  height: 156px;
  background-color: var(--x-light-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 50px;
}

footer img {
  width: 40px;
  margin-right: 10px;
}

footer img:hover {
  transform: rotate(0.5turn);
  cursor: help;
}

/* 
----------------------------------- 
MODAL - FORM
----------------------------------- 
*/

/* Disable scroll on body when model is open */
.disable {
  overflow: hidden;
}

.modal {
  display: flex;
  background-color: rgb(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
}

.hidden {
  display: none;
}

.form-container,
.form-container > div,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: 0 auto;
  flex-direction: row;
}

.form-container > div {
  background-color: var(--white);
  border-radius: 20px;
  padding: 60px 20px;
  position: relative;
}

.form-container i {
  color: rgb(0, 0, 0, 0.5);
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-container i:hover {
  color: black;
  cursor: pointer;
}

.form-container p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

input,
textarea {
  width: 60%;
  margin: 10px 0;
  outline: none;
  border: var(--dark-grey) 2px solid;
  padding: 16px 10px;
  font-size: 16px;
  font-family: var(--trip-med);
}

input[type="submit"] {
  background-color: var(--dark-green);
  color: white;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-family: var(--trip-reg);
}

input[type="submit"]:hover {
  background-color: var(--medium-green);
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: var(--dark-green) solid 2px;
}
