body {
  font-family: "Trip Sans Reg";
}

.container {
  width: 1140px;
  /* border: black 3px solid; */
  margin: 0 auto;
  box-sizing: border-box;
}

/* Titre(les couleurs des icones et la tête même) */
/* * Titles */
*/ h1,
h2 {
  font-family: "Trip Sans Med";
}
h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 40px;
}
h1 span {
  color: #ee595b;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
h4 {
  font-size: 26px;
  margin-bottom: 20px;
}

/* HEADER */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 190px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav div {
  margin-right: 16px;
}

header nav div:hover {
  background-color: rgb(248, 240, 240);
  cursor: pointer;
}

header span,
header i {
  font-size: 16px;
  color: black;
}

header button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

header button:hover {
  background-color: #333333;
}
/* MAIN( Menu) */
/* Menu */
.menu {
  display: flex;
  margin: 40px 0;
}

.menu div {
  border: black 1px solid;
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menu div i {
  color: black;
}

.menu div:hover {
  background-color: black;
}

.menu div:hover span,
i {
  color: white;
}

.menu div:hover i {
  color: white;
}

.menu div:not(:last-child) {
  margin-right: 20px;
}
.menu span {
  /* border-radius: 10px; */
  margin-right: 10px;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* picture */
.pictures {
  margin-top: 60px;
  height: 430px;
  display: flex;
}

.pictures .col-1 {
  height: 100%;
  flex: 1;
  margin-right: 2px;
}

.pictures .col-2 {
  height: 100%;
  width: 480px;
}

.pictures .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pictures .col-1 img:hover {
  opacity: 0.8;
}

.pictures .col-2 img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
  display: block;
}

.pictures .col-2 img:first-child {
  margin-bottom: 2px;
}

/* links */

.links {
  margin-bottom: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.links a {
  color: #333333;
  text-decoration: none;
}

.links i {
  color: #333333;
}

.links nav a:hover {
  text-decoration: underline;
}

/* Description */
.description {
  margin-bottom: 100px;
  display: flex;
}

.description .col-1 {
  height: 100%;
  width: 50%;
}

.description .col-1 h3 {
  font-size: 28px;
  font-family: "Trip Sans VF";
  font-weight: bold;
}

.description .col-1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #333333;
}

.description .col-1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.description .col-2 {
  height: 100%;
  width: calc(50% - 100px);
  margin-left: 100px;
}

.description .col-2 h3 {
  font-size: 32px;
  font-weight: bold;
}

.description .col-2 p {
  font-size: 16px;
}

.description .col-2 div:first-child {
  background-color: #ee595b;
  height: 274px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.description .col-2 div:last-child {
  height: 190px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../img/image_trips_card_medium.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.description .col-2 div:first-child p {
  font-size: 20px;
  margin-bottom: 20px;
}

.description .col-2 div:first-child button {
  padding: 10px;
  font-family: inherit;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.description .col-2 div:first-child button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.5; */
}

/* Section 1 */

.section-1 h2,
h4 {
  font-weight: bold;
}

.section-1 > div {
  height: 400px;
  margin-bottom: 500px;
  display: flex;
}

.section-1 > div .col-1 {
  width: 25%;
  height: 100%;
  padding-right: 30px;
  box-sizing: border-box;
}

.section-1 > div .col-1 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.section-1 > div .col-2 {
  width: 75%;
  height: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.section-1 > div .col-2::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.section-1 > div .col-2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.col-carrousel {
  /* border: black solid 2px; */
  box-sizing: border-box;
  height: 100%;
  width: calc(100% / 3 - (40px / 3));
  flex-shrink: 0;
}

.col-carrousel:not(:last-child) {
  margin-right: 20px;
}

/* Parent div en relative avec la grande image */
.col-carrousel .photo {
  position: relative;
}

.col-carrousel .photo img:nth-child(1) {
  height: 200px;
  width: 100%;
}

.col-carrousel .circle {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.col-carrousel .circle i {
  color: black;
}

.col-carrousel .photo > img:nth-child(3) {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.card i {
  color: #4fab6d;
  font-size: 12px;
}

.card h4 {
  font-size: 18px;
}

.rating {
  display: flex;
}

.rating p {
  font-size: 12px;
  margin-left: 2px;
}

.rating i {
  margin-right: 2px;
}

footer {
  height: 156px;
  background-color: #faf1ed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -500px;
}

footer img {
  width: 190px;
}
